# {{ ansible_managed }}
#

{% for fileset in mightydok_bareos_dir_fileset %}

FileSet {
  Name = "{{ fileset.name }}"
  Description = ""
  Include {
    Options {
      Signature = MD5 # calculate md5 checksum per file
      One FS = No     # change into other filessytems
      FS Type = btrfs
      FS Type = ext2  # filesystems of given types will be backed up
      FS Type = ext3  # others will be ignored
      FS Type = ext4
      FS Type = reiserfs
      FS Type = jfs
      FS Type = xfs
      FS Type = zfs
    }
    {% for file in fileset.include %}
        File = "{{ file }}"
    {% endfor %}
  }
  # Things that usually have to be excluded
  # You have to exclude /var/lib/bareos/storage
  # on your bareos server
  Exclude {
    File = /var/lib/bareos
    File = /var/lib/bareos/storage
    File = /proc
    File = /tmp
    File = /var/tmp
    File = /.journal
    File = /.fsck
    {% for file in fileset.exclude %}
        File = "{{ file }}"
    {% endfor %}
  }
}

{% endfor %}
