# {{ ansible_managed }}
#

{% for job in mightydok_bareos_dir_job %}

Job {
  Name = "{{ job.name }}"
{% if job.jobdefs is defined %}
  JobDefs = "{{ job.jobdefs }}"
{% endif %}
  Client = "{{ job.client }}-fd"
  FileSet = "{{ job.fileset }}"
  Storage = "{{ job.storage }}"
{% if job.level is defined %}
  Level = "{{ job.level }}"
{% endif %}
{% if job.schedule is defined %}
  Schedule = "{{ job.schedule }}"
{% endif %}
{% if job.runbeforejob is defined %}
  RunBeforeJob = "{{ job.runbeforejob }}"
{% endif %}
{% if job.runafterjob is defined %}
  RunAfterJob = "{{ job.runafterjob }}"
{% endif %}
{% if job.write_bootstrap is defined %}
  Write Bootstrap = "{{ job.write_bootstrap }}"
{% endif %}
{% if job.priority is defined %}
  Priority = "{{ job.priority }}"
{% endif %}
{% if job.type is defined %}
  Type = "{{ job.type }}"
{% endif %}
{% if job.pool is defined %}
  Pool = "{{ job.pool }}"
{% endif %}
{% if job.messages is defined %}
  Messages = "{{ job.messages }}"
{% endif %}
{% if job.where is defined %}
  Where = "{{ job.where }}"
{% endif %}
}

{% endfor %}
