# {{ ansible_managed }}
#

{% for job in mightydok_bareos_dir_job %}

Job {
  Name = "{{ job.name }}"
  JobDefs = "{{ job.jobdefs }}"
  Client = "{{ job.client }}-fd"
  FileSet = "{{ job.fileset }}"
  Storage = "{{ job.storage }}"
  Level = "{{ job.level | default(omit) }}"
  Schedule = "{{ job.schedule | default(omit) }}"
  RunBeforeJob = "{{ job.runbeforejob | default(omit) }}"
  RunAfterJob = "{{ job.runafterjob | default(omit) }}"
  Write Bootstrap = = "{{ job.write_bootstrap | default(omit) }}"
  Priority = "{{ job.priority | default(omit) }}"
  Type = "{{ job.type | default(omit) }}"
  Pool = "{{ job.pool | default(omit) }}"
  Messages = "{{ job.messages | default(omit) }}"
  Where = "{{ job.where | default(omit) }}"
}

{% endfor %}
