# {{ ansible_managed }}
#

Storage {
  Name = {{ item.name }}
  Address = {{ item.address }}                # N.B. Use a fully qualified name here (do not use "localhost" here).
  Password = "{{ item.password }}"
  Device = {{ item.device }}
  Media Type = File
}
